# Application Config
PROJECT_NAME=Fuelflux
ENVIRONMENT=development

# MongoDB Atlas Database
MONGODB_URL=mongodb+srv://Aishwarya:t0wJf0w90fkP57y9@cluster0.ak8ka1h.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=fuelflux

# Security
SECRET_KEY=supersecretkeychangethisinproduction2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Razorpay Standard (Add Money)
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=your_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here

# RazorpayX (Withdrawal Payouts)
RAZORPAYX_ACCOUNT_NUMBER=7894320000000000
